<h1>What I've been reading</h1>

<%= link_to "Add new book", new_book_path %><p>
<%= link_to "List all the books I've read", books_path %><p>

<p><strong><%= @this_month_count %></strong> books finished this month</p>
<p><strong><%= @this_year_count %></strong> books finished this year</p>
<p><strong><%= @women_this_year %>%</strong> of books read this year were by women</p>
<p><strong><%= @all_time_count %></strong> books read since I started recording in 2011</p>

<h2>Books read per year</h2>
<%= column_chart @chart1 %>

