<h1>What I've read</h1>

<% if flash[:notice] %>
    <div class = "notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Back to dashboard', "/" %><p>
<%= link_to 'Add a new book', new_book_path %><p> 

<%= datagrid_form_for @books_grid, url: books_path %>

<div class='total'>Total: <%= @books_grid.assets.total_count %></div>
<%= datagrid_table(@books_grid) %>
<%= paginate @books_grid.assets %>
