<h1>What I've read</h1>

<% if flash[:notice] %>
    <div class = "notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Back to dashboard', "/" %><p>
<%= link_to 'Add a new book', new_book_path %><p> 

<table>
    <tr>
        <th><%= sortable("title") %></th>
        <th><%= sortable("lastname", "Author") %></th>
        <th><%= sortable("gender", "Author's gender") %></th>
        <th><%= sortable("rating") %></th>
        <th><%= sortable("published", "Year published") %></th>
        <th><%= sortable("finished", "Date finished") %></th>
        <th><%= sortable("series") %></th>
        <th><%= sortable("owned") %></th>
        <th colspan = "2"></th>
    </tr>

    <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.lastname %>, <%= book.firstname %></td>
            <td><%= book.gender %></td>
            <td><%= book.rating %></td>
            <td><%= book.published %></td>
            <td><%= book.finished %></td>
            <td><%= book.series %></td>
            <td><%= book.owned_yn %></td>
            <td><%= link_to 'Edit', edit_book_path(book) %></td>
            <td><%= link_to 'Destroy', book_path(book),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>

</table>
