<h1>What I've read</h1>

<% if flash[:notice] %>
    <div class = "notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Back to dashboard', "/" %><p>
<%= link_to 'Add a new book', new_book_path %><p> 

<table>
    <tr>
        <th>Title</th>
        <th>Author's first name</th>
        <th>Author's last name</th>
        <th>Rating</th>
        <th>Author's sex</th>
        <th>Year published</th>
        <th>Date finished</th>
        <th>Series</th>
        <th>Owned</th>
        <th colspan="2"></th>
    </tr>

    <% @books.each do |b| %>
        <tr>
            <td><%= b.title %></td>
            <td><%= b.firstname %></td>
            <td><%= b.lastname %></td>
            <td><%= b.rating %></td>
            <td><%= b.sex %></td>
            <td><%= b.published %></td>
            <td><%= b.finished ? b.finished.strftime("%-d %B %Y") : nil %></td>
            <td><%= b.series %></td>
            <td><%= b.owned %></td>
            <td><%= link_to 'Edit', edit_book_path(b) %></td>
            <td><%= link_to 'Destroy', book_path(b),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>

        </tr>
    <% end %>
</table>