<h1>Enter new books</h1>

<p><%= link_to 'Back to dashboard', "/" %></p>
<p><%= link_to 'Back to book list', books_path %></p>

<% if flash[:notice] %>
    <div class = "notice"><%= flash[:notice] %></div>
<% end %>
<br>
<h2>Add a new book</h2>
<%= render 'form' %>

<div>
    <h2>Import CSV of books</h2>
    <%= form_tag import_books_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import from CSV" %>
    <% end %>
</div>

