<h1>Book added</h1>

<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>

<p>
    <strong>Author's first name:</strong>
    <%= @book.firstname %>
</p>

<p>
    <strong>Author's last name:</strong>
    <%= @book.lastname %>
</p>

<p>
    <strong>Author's sex:</strong>
    <%= @book.sex %>
</p>

<p>
    <strong>Year published:</strong>
    <%= @book.published %>
</p>

<p>
    <strong>Date finished:</strong>
    <%= @book.finished %>
</p>

<p>
    <strong>Owned?</strong>
    <%= @book.owned %>
</p>